@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* ---------------------Text style----------------------- */

/* headings */
h1 {
  font-size: 44px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
h5 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
h6 {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

/* body */
.body--xl {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.body--lg {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.body--md {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.body--sm {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.body--xs {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

/* caption */
.caption--lg {
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.caption--md {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.caption--sm {
  font-size: 10px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

/* button */
.button--lg {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.button--sm {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

/* overline */
.overline--lg {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.overline--sm {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
